{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "comma-dangle": ["error", "never"],
    "consistent-return": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".jsx", ".tsx", ".js"] }],
    "react/jsx-curly-brace-presence": 0,
    "import/no-named-as-default": false,
    "prefer-const": 0,
    "linebreak-style": 0,
    "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__", "_id", "_ids"] }],
    "react/jsx-no-duplicate-props": [2, { "ignoreCase": false }],
    "react-hooks/rules-of-hooks": "error",
    "react/forbid-prop-types": 0,
    "no-console": 0
  },
  "parser": "babel-eslint",
  "plugins": ["babel", "react", "react-hooks"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.common.js"
      },
      "node": true
    }
  },
  "globals": {
    "localStorage": true,
    "sessionStorage": true,
    "document": true,
    "window": true
  }
}
